################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearnBlazor.my/obj
/.vs
/LearnBlazor/.vs/LearnBlazor
/LearnBlazor/LearnBlazor/bin/Debug/net8.0
/LearnBlazor/LearnBlazor/obj
